@charset "UTF-8";

.change-box {
	 
	display: flex;
	flex-direction: column;
}

header a img {
	
	gap: 20px;
	
}

.change-box {
	margin: auto;
	width: 50vw;
	height: 50vh;
	 border-radius: 6px;
}



.change-box input {
	  height: 30px;
      width: 200px;
      padding: 0 10px;
      background-color: #F8F8F8;
      border: none;
      outline: #F9F9F9;
      margin: 5px;
}
.change-box button {
	height: 30px;
	 width: 50px;
	outline: none;
   background: #f99d9d;
   border-radius: 6px;
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
	}
	
	
.change-box h2 {
	text-align: center;
	margin-botton: -2px;
}

.pwd-box {
	margin:auto;
    position: relative;
}